/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-red-dark: rgb(202, 3, 3);
  --clr-black: rgb(0, 0, 0);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: var(--ff-secondary);
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
  display: block;
  
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 0.3rem;
}
h1 {
  font-size: 3rem;
  font-family: var(--ff-primary);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;

  font-family: var(--ff-primary);
}

/*
=============== 
Global Styles
===============
*/

.red-title {
  color: var(--clr-red-dark);
}

.white-title {
  color: var(--clr-white);
  margin-bottom: 0.5rem;
}

/*HERO SECTION*/

.home {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: black;
  padding: 10px 25px;
}
.contact-h {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 20px 30px;
}
.contact-h p {
  font-size: 24px;
  font-weight: bold;
 
}

.fa-phone {
  margin-right: 5px;
}
.contact-h a {
  font-size: 24px;
  color: #fff;
 
}


.logo-container {
  width: 100%;
  display: flex;
  
  padding: 0 20px;
 
}

.promo {
 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.promo p {
 
  font-family: 'Chewy', cursive;

  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px 4px #f1ecec;
  letter-spacing: 1px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.logo img {
  width: 20%;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-title {
  color: rgb(148, 23, 23);
  text-align: center;
  font-size: 1rem;
  font-family: "Pathway Gothic One", sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
span {
  color: white;
}

.slider {
  width: 60%;
  height: 350px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
 

  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sub-title {
    font-size: 1.2rem;
    letter-spacing: 5px;
    padding: 0;
  }

  .slider {
    margin: 10px 0;
    height: 300px;
  }
}

@media (max-width: 400px) {


  .home {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .header {
  
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
  }
  
  
  .contact-h {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
   
    align-items: center;
    color: white;
    padding: 20px 0;
}
   .contact-h .btn{
  margin-top:20px
}
  .contact-h p {
    font-size: 20px;
    font-weight: bold;
  }
  
  .contact-h p a{
    font-size: 20px;
   
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  .logo img {
    width: 50%;
  }

  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 

  .slider {
    width: 90%;
    height: 300px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper img {
    width: 100%;
    height: 100%;
  }
}

/*program start*/
.programns {
width: 100%;
display: flex;
  min-height: 100vh;
justify-content: center;
padding: 30px 0;
  background-color: var(--clr-black);
}

.programns-con h1 {
  margin: 30px 0;
  font-weight: bold;
 
}
.programns-con ul li {
  font-family: 'Rubik Bubbles', cursive;
  font-size: 30px;
   color: var(--clr-white);
}


/*HERO SECTION ENDS*/
/***************FIND US*******************/

.find-us {
  width: 100%;
  text-align: center;
  min-height: 100vh;
 
   background-image: url('twd2.jpg');
  background-position: center;
  background-size: cover;
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.find-us-info {
  width: 100%;
  display: flex;
 
}


.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  margin-top: 50px;
}

.box h3 {

  font-size: 30px;
  margin-bottom: 10px;
}

.box a {
  color: rgb(25, 5, 112);
  text-decoration: underline;
  font-size: 20px;
}


.box p{
  color: rgb(25, 5, 112);

  font-size: 20px;
}
/**************************************I*N*S*E*R*T**********************************************/

/*ABOUT SECTION STARTS*/
.about {
  width: 100%;
  background-color: var(--clr-white);
}

.about-wrapper {
  display: flex;
  min-height: 100vh;
}

.about-desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-img {
  margin: 20px 0;
}

.about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  background-image: url(yellow.jpg);
  background-position: center;
  font-weight: bold;
}

.about-text h2 {
  text-align: center;
  font-weight: bold;
}

.about-text ul {
  margin-top: 3rem;
  font-family: var(--ff-primary);
}
.about-text ul li {
  font-size: 1.75rem;
  font-weight: bold;
}
/*ABOUT SECTION ENDS*/

/*GALLERY SECTION STARTS*/
.gallery {
  width: 100%;
  background-color: var(--clr-red-dark);
  padding: 50px 0;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-description {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.pic-container {
  width: 100%;

  gap: 1rem;
  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;
}

.image {
  width: 200px;
  height: 220px;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*GALLERY SECTION ENDS*/

/*PEAK PERFORMANCE START*/
.peak-perfomance {
  width: 100%;
  background-color: var(--clr-black);
  max-width: 100%;
  display: flex;
  justify-content: center;
  color: var(--clr-red-dark);
  padding: 50px 0;
}

.peak-perfomance-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.team-description {
  text-align: center;
}

.team-pic {
  width: 80%;
  display: flex;
  justify-content: center;

  margin: 50px 0;
}
.image-container {
  width: 100%;
  height: auto;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.team-events {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.events-pics {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.events-pics img {
  width: 30%;
}
/*PEAK PERFORMANCE ENDS*/
.contact {
  width: 100%;
}

.contact-wrapper {
  display: flex;
 
  width: 100%;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 background-image: url(belt2.jpg);
   background-position: center;
  text-align: center;
  gap: 0.75rem;
}

.contact-info p{
  color: var(--clr-black);
 font-size: 2rem;
 font-weight: bold;
}

.contact-info i {
  font-size: 5rem;
  color: var(--clr-black);
}



/*FOOTER STARTS*/

footer {
  background: var(--clr-black);
  padding: 5rem 1rem;
  color: var(--clr-white);
  text-align: center;
}

footer p {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

/*FOOTER ENDS*/

@media (max-width: 950px) {
  .container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner img {
    width: 100%;
  }
  
   /**find Us*/

   .find-us-info {
    width: 100%;
    flex-direction: column;
  }

   .box {
    width: 100%;
    
  }
 
/**find Us*/
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  
  /**find Us*/


  .find-us-info {
    width: 100%;
   
  }

   .box {
    width: 100%;
    padding: 10px 20px;
    
  }

  .box h3{
    margin-bottom: 40px;
    font-size: 40px;
    
  }
 

 /**find Us*/

  .about-wrapper {
    width: 100%;
    flex-direction: column;
  }

  .about-desc {
    width: 100%;
    padding: 20px 0;
  }

  .about-text {
    width: 100%;
    padding: 20px 0;
  }

  /*gallery*/
  .pic-container {
    width: 90%;
  }

  /*contact*/
  .contact-wrapper {
    width: 100%;
    flex-direction: column-reverse;
}
  
 
  .contact-info {
    width: 100%;
    padding: 20px 0;
  }

  .contact-img {
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 500px) {
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 0.1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .white-title {
    font-size: 2rem;
  }

  .container {
    width: 100%;
  }

  /*slider*/
  .slider {
    width: 100%;
   
  }
  /*slider*/
  
  .banner {
    width: 100%;
  }
  
  .promo p {
    font-size: 10px;
  }
  
  /*OUR PROGRAMS*/

  .programns {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
   
}
  
  .programns-con h1 {
 
    font-size: 30px;
    color: rgb(148, 23, 23);
}
  
  .programns-con ul li {
    
    font-size: 20px;
    
}
  
  /*FIND US*/
  .find-us {
  padding: 30px 0;

}
  
  .box {
   padding: 5px 20px;
}
  .box h3 {
    margin-bottom: 10px;
  
}
  
  
  /*ABOUT*/

  .about-text {
    padding: 20px;
  }
  /*GALLERY SECTION STARTS*/
  .gallery {
    width: 100%;
  }

  .gallery-description {
    width: 100%;
    padding: 30px;
  }

  .pic-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 90%;
  }

  /*GALLERY SECTION ENDS*/

  /*PEAK PERFORMANCE*/
  .team-description {
    padding: 20px;
  }

  /*contact*/

  .contact-info {
    padding: 20px;
  }
}
