/*
=============== 
Imported Fonts
===============
*/
/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chonburi&family=Play&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-1:  hsl(205, 86%, 17%);
   /* red dark */
   --clr-red-dark:#e60707;
 
 
  /* darkest grey - used for headings */
  --clr-grey-1:#3f3f3d;
 
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  /* white */
  --clr-white: #fff;
 
  /* white */
  --clr-black: #000000;
  --ff-primary: 'Play', sans-serif;
  --ff-secondary: 'Bebas Neue', sans-serif;
 
 }




/*
=============== 
Global Styles
===============
*/

*,
::after,
::before 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

  body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    font-family: var(--ff-primary);
    font-weight: bold;
  }

  .red, .different{
    background-color: var(--clr-red-dark);
  }

  /***GSAP****/
  .animate{
    
  scale:1;
}
.hours-animation{
  scale:1;
}

  a{
    color: var(--clr-white);
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  img{
    display: block;
    max-width: 100%;
  }
  
  i{
    font-size: 1.5rem;
  }
  
  .section-title{
    text-align: center;
   padding: 1rem;
    color: var(--clr-grey-1);
  }


  .main-title{
    text-align: center;
    padding: 3rem 1rem;
   background-color: #000000;
    background-image: url("images/belt.png");
    background-position:right;
    background-repeat: no-repeat;
    background-size:contain;
  }

h1{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2rem;
  font-weight: bold;
  opacity: 1;
  scale: 1;
}

section{
  padding: 2rem 0;
}
  @media (min-width:45rem) {

    section{
      padding-bottom: 5rem ;
    }
    .section-title{
      text-align: center;
     padding: 2rem;
      font-size: 1.75rem;
    }

    h1{
      
      font-size: 3rem;
      font-weight: bold;
     
    }
  }
  
  /****************NAVIGATION*****************/

  .nav{
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
    width: 100%;
    background-color: var(--clr-black);
  }
  .top-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    
   
  }

  .icons{
    display: flex;
    gap: 1rem;

  }

.icons .fa-phone{
    display: none;
   }


  .bottom-nav{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--clr-white);
  }

  @media (min-width:45rem) {
   

.logo img{
  width: 150px;
}

.top-nav {
 
  justify-content: space-around;

}

  .icons .fa-phone{
   display: block;
  }

  .bottom-nav{
display: none;
  }

  i{
    font-size: 2rem;
  }
}
 /****************NAVIGATION*****************/

  /**ONSCROLL IMAGE REVEAL ***/
.revealer {
  width: 100%;
    position: relative;
    height: 100vh;
   
    background-color: black;
  }
  
  .img-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .img-mask img{
    object-fit: cover;
    height: 100%;
    width: 100%;
   
  }


  /**ONSCROLL IMAGE REVEAL ***/

  
  /**CONTACT SECTION ***/

  .contact{
    background-color: var(--clr-black);
  }
.contact-box{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: .50rem;

}

.contact-box a, p{
  font-size: 1.25rem;
  
}

.contact-box h3{
  font-size: 1.75rem;
 font-family: var(--ff-secondary);
 color: var(--clr-white);
}

.bg-ppic{
  background-image: url(images/helmet.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  }

  .bg-ppic a {
    color: var(--clr-red-dark);
   text-shadow: 2px 2px 2px 2px var(--clr-red-dark);
    }
  

    
    @media (min-width:45rem) {
      .contact-container{
        display: flex;
        width: 100%;
          }
          .contact-box{
            padding: 3rem;
            border: 10px solid var(--clr-red-dark);
            flex: 1;
           
          }

          .bg-ppic{
 background-size:inherit;
 }
  .bg-ppic a {
  font-size: 1.25rem;
    }

      }
 /**CONTACT SECTION ***/

.inner-container, .map-container, .text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  flex-direction: column;
}

.inner-container ul li {
 margin-bottom: .50rem;

 font-size: 1.25rem;
}



@media (min-width:45rem) {
  .hours ul li {
    margin-bottom: 1rem;
    
   }
  }

/*********classes*********/
.classes{
  background-color: var(--clr-red-dark);
}


iframe{
  width: 90%;
}
@media (min-width:45rem) {

 .split{
  display: flex;
 }

.reverse{
  flex-direction: row-reverse;
}

.animated-list{
 width: 100%;
 display: flex;
 justify-content:space-around;
 font-size: 1.75rem;
}

 .image-container{
  flex:1;
  
 }

 .text-container{
  flex:1;

 }

 .map-container{
  flex:1
 }


  }


footer{
  padding: 2rem;
  text-align: center;
  background-color: var(--clr-red-dark);
}

